body{
  background-color: #fff;
  color: #424242;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  color: #ff9100;
  transition: color 0.1s ease-out;
  cursor: pointer;
}
a:hover {
  color: #b36600;
}
a:focus {
  box-shadow: 0 0 0 0.2rem #ffb24d;
  outline: none;
  color: #b36600;
}
a:active {
  color: #b36600;
}
button[type="button"]:not(:disabled){
  animation: enable .3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1);
  }
}
