html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

ol, ul {
  list-style-type : none;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

b,
strong {
    font-weight: 700;
}
 
small {
    font-size: 80%;
}

img {
  border-style: none;
}